 <h2><%= "#{@restaurant.name}  |#{@restaurant.average_rating}|" %></h2>
  <ul>
    <li><%= "Address : " + @restaurant.address %></li>
    <li><%= "Phone number : " + @restaurant.phone_number %></li>
    <li><%= "Category : " + @restaurant.category %></li>
    <li><%= "Reviews : "%>
      <% @reviews.each do |review| %>
        <div><%= review.content %></div>
      <% end %>
    </li>
  </ul>
<%= link_to "add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
